include row.pug

p ## Contact & other places ##
table
    +row('e-mail')
        a(href='mailto://lukas.wagner@hpi.de') lukas.wagner@hpi.de
    +row('GitHub')
        a(href='https://github.com/lukaswagner') lukaswagner
