html(lang="en")
    head
        title Lukas Wagner // About
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href=require('../css/style.css'))
        script(src=require("../js/mail.js"))
    body
        include cv.pug
        include publications.pug
        include contact.pug