mixin row(label, url)
    tr
        td.nw
            if(url)
                a(id=url).anchor.r-anchor
            span= label
        td
            include divider.pug
        td
            block
