@import './divider.css';
@import './font.css';
@import './header.css';
@import './link.css';
@import './table.css';

:root {
    /* colors copied from vs code dark theme */
    --vs-background: #1E1E1E;
    --vs-text: #D4D4D4;
    --vs-comment: #6A9955;
    --vs-link: #569CD6;
    --vs-visited-link: #C586C0;
    --vs-highlight: #DCDCAA;
    --left-col: 13ch;
    --space: 1em;
}

body {
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
    max-width: 80ch;
    margin: auto;
    background-color: var(--vs-background);
    color: var(--vs-text);
}

p {
    color: var(--vs-comment);
}

div {
    margin-top: var(--space);
}

div:last-child {
    margin-bottom: var(--space);
}

.hl {
    color: var(--vs-highlight);
}
