:root {
    /* colors copied from vs code dark theme */
    --vs-background: #1E1E1E;
    --vs-text: #D4D4D4;
    --vs-comment: #6A9955;
    --vs-link: #569CD6;
    --vs-visited-link: #C586C0;
}

@font-face {
    font-family: 'Fira Mono';
    src: url(../fonts/fira-mono.ttf) format('truetype');
}

body {
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
    max-width: 80ch;
    margin: auto;
    background-color: var(--vs-background);
    color: var(--vs-text);
}

a:visited {
    color: var(--vs-visited-link);
}

a {
    color: var(--vs-link);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

p {
    color: var(--vs-comment);
}

td {
    padding: 0;
    vertical-align: top;
    padding-bottom: 1em;
}

tr:last-child>td {
    padding-bottom: 0;
}

.nw {
    width: 12ch;
    white-space: nowrap;
}

table {
    border-spacing: 0;
}
