include partials/heading.pug

+heading('Lukas Wagner: About me')
div I'm a software engineer. My main focus is on computer graphics, mainly data visualization. I also have experience in human-computer interaction.
