include partials/heading.pug

+heading('Lukas Wagner: About me', 'about')
div
    :format
        I'm a *software engineer* with an interest in *computer graphics*
        and multiple years of experience in low-level rendering
        using WebGL and OpenGL.
        In addition, I have a background in *human-computer interaction*,
        mainly in developing high-performance embedded haptics systems
        (both hardware and firmware).
        For both fields, I have several semesters of *teaching experience*.

        Currently, I'm a graphics engineer at [Threedy](https://www.threedy.io).

