include partials/heading.pug

+heading('Lukas Wagner: About me')
div
    | I'm a software engineer. 
div
    | My main focus is on computer graphics, mainly data visualization. 
    | I also have experience in human-computer interaction. 
div
    | I'm a PhD student at the Computer Graphics Systems chair 
    | at Hasso Plattner Institute, Faculty for Digital Engineering, University of Potsdam, Germany.
    | More precise, I'm part of the Visual Analytics Research Group.

