include partials/heading.pug

+heading('Lukas Wagner: About me')
div
    | I'm a software engineer. 
div
    | My main focus is on computer graphics, 
    | with specialization on low level WebGL and OpenGL rendering. 
    | I also have experience in human-computer interaction, 
    | mainly in developing high-performance haptics systems 
    | (both hardware and firmware).
    | For both fields, I also have several semesters of teaching experience.
div
    | Currently, I'm a research assistant at the Computer Graphics Systems 
    | chair at Hasso Plattner Institute, Faculty for Digital Engineering, 
    | University of Potsdam, Germany.

