include partials/heading.pug

+heading('Lukas Wagner: About me', 'about')
div
    | I'm a 
    span.hl software engineer 
    |  with an interest in 
    span.hl computer graphics
    |  and multiple years of experience 
    | in low-level rendering using WebGL and OpenGL. 
    | In addition, I have a background in 
    span.hl human-computer interaction
    | , 
    | mainly in developing high-performance haptics systems 
    | (both hardware and firmware).
    | For both fields, I have several semesters of 
    span.hl teaching experience
    | .
div
    | Currently, I'm a graphics engineer at Threedy.

