include partials/row.pug
include partials/heading.pug

- const mail = "mail.show('lukas', 'lwgnr.dev', 'm-a')";

+heading('Contact, links & other places', 'contact')
table
    +row('e-mail')
        a(id='m-a', onmouseover=mail) [hover to show]
    +row('GitHub')
        a(href='https://github.com/lukaswagner') lukaswagner
    +row('ResearchGate')
        a(href='https://www.researchgate.net/profile/Lukas-Wagner-17') Lukas-Wagner-17
    +row('ORCID')
        a(href='https://orcid.org/0000-0002-5934-3310') 0000-0002-5934-3310
    +row('LinkedIn')
        a(href='https://www.linkedin.com/in/lwgnr') lwgnr
    +row('PGP')
        a(href=require('./pgp/public.asc')) Public key
