include partials/row.pug
include partials/heading.pug

- const mail = "mail.show('lukas.wagner', 'hpi.de', 'm-a')";

+heading('Contact, links & other places')
table
    +row('e-mail')
        a(id='m-a', onmouseover=mail) [hover to show]
    +row('VARG @ CGS')
        a(href='https://varg.dev') Visual Analytics Research Group
    +row('CGS @ HPI')
        a(href='https://hpi3d.de') Computer Graphics Systems
    +row('HPI')
        a(href='https://hpi.de') Hasso Plattner Institute
    +row('GitHub')
        a(href='https://github.com/lukaswagner') lukaswagner
    +row('ResearchGate')
        a(href='https://www.researchgate.net/profile/Lukas_Wagner18') Lukas_Wagner18
    +row('PGP')
        a(href=require('./pgp/public.asc')) Public key
