include partials/row.pug
include partials/heading.pug

+heading('CV')
table
    +row('2019 - ?')
        | PhD student at Hasso Plattner Institute, 
        | Computer Graphics Systems chair
        include partials/divider.pug
        a.nbr(href='https://hpi3d.de') hpi3d.de
    +row('2016 - 2019')
        | MSc student at Hasso Plattner Institute, 
        | focus on computer graphics and human-computer interaction
        include partials/divider.pug
        a.nbr(href='https://hpi.de') hpi.de
    +row('2016 - 2019')
        | BSc student at Hasso Plattner Institute
        include partials/divider.pug
        a.nbr(href='https://hpi.de') hpi.de
