include partials/row.pug
include partials/heading.pug

+heading('CV')
table
    +row('2019 - ?')
        | PhD student at Hasso Plattner Institute,
        br
        | Computer Graphics Systems chair // 
        a(href='https://hpi3d.de') hpi3d.de
    +row('2016 - 2019')
        | MSc student at Hasso Plattner Institute,
        br
        | focus on computer graphics and human-computer interaction
    +row('2016 - 2019')
        | BSc student at Hasso Plattner Institute
