include partials/row.pug
include partials/heading.pug

+heading('Experience')
table
    +row('C++')
        | CLI tools, 
        | real-time rendering (OpenGL), 
        | libraries, 
        | microcontroller programming 
        | (e.g. optimized haptic rendering)
    +row('C#')
        | CLI tools, 
        | real-time rendering (OpenGL, Unity)
    +row('JS/TS')
        | Web: real-time rendering (WebGL), data processing, 
        br
        | Node.js: CLI tools, auxiliary scripting
    +row('Web tech')
        | HTML, 
        | CSS, 
        | webpack, 
        | pug
