include partials/row.pug
include partials/heading.pug

+heading('Experience')
table
    +row('C++')
        span.nbr CLI tools, 
        span.nbr real-time rendering (OpenGL), 
        span.nbr libraries, 
        span.nbr microcontroller programming 
        span.nbr (e.g. optimized haptic rendering)
    +row('C#')
        span.nbr CLI tools, 
        span.nbr real-time rendering (OpenGL, Unity)
    +row('JS/TS')
        span.nbr Web: real-time rendering (WebGL), data processing, 
        span.nbr Node.js: CLI tools, auxiliary scripting
    +row('Web tech')
        span.nbr HTML, 
        span.nbr CSS, 
        span.nbr webpack, 
        span.nbr pug
