include partials/heading.pug

+heading('License disclaimer', 'footer')
div
    :format
        [Fira Mono](https://github.com/mozilla/Fira) is licensed under the 
        [SIL Open Font License v1.1](https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web)
