div#header
    a(href='#about') About
    include partials/divider.pug
    a(href='#contact') Contact
    include partials/divider.pug
    a(href='#cv') CV
    include partials/divider.pug
    a(href='#publications') Publications
    include partials/divider.pug
    a(href='#experience') Experience
    include partials/divider.pug
    a(href='#projects') Projects
    include partials/divider.pug
    a(href='#teaching') Teaching
div#header-spacing
