include partials/row.pug
include partials/heading.pug

+heading('Selected projects', 'projects')
table
    +row('vidi')
        | [TS] visual dataset inspector: 
        | Web-based 3D scatter plot viewer for huge data sets (1M - 100M). 
        | Uses WebGL to facilitate interactive exploration of complex, 
        | multi-dimensional data sets. 
        | See 
        a(href='#publications') publications
        |  for accompanying research.
        include partials/divider.pug
        a(href='https://demo.varg.dev/vidi') demo
        include partials/divider.pug
        a(href='https://github.com/lukaswagner/vidi') gh
    +row('uebungsrahmen')
        | [JS/TS] Web-based coding exercise framework (with Node.js backend). 
        | Designed to be customizable and reusable between lectures. 
        | Employed repeatedly alongside computer graphics lectures for 
        | accompanying exercises using WebGL (see 
        a(href='#teaching') teaching
        | ), with consistent positive feedback by students. 
        | Provides automated import/export of assignments and solutions.
        | Also includes TA quality-of-life features such as sample solution 
        | removal and state cleanup during code reviews. 
        | Controlled using CLI or electron-based GUI.
        include partials/divider.pug
        a(href='https://github.com/lukaswagner/uebungsrahmen') gh
    +row('csv-parser')
        | [TS] Quick, multi-threaded CSV parser with focus on handling huge files. Utilizes web workers to leverage all CPU cores. Significantly faster than other in-browser CSV parsers, with support for much larger files.
        include partials/divider.pug
        a(href='https://csv.lwgnr.dev') demo
        include partials/divider.pug
        a(href='https://github.com/lukaswagner/csv-parser') gh
        include partials/divider.pug
        a(href='https://www.npmjs.com/package/@lukaswagner/csv-parser') npm
