include partials/row.pug
include partials/heading.pug

+heading('Publications', 'publications')
table
    +row('Web3D 2022', 'web3d2022')
        :format
            Hardware-accelerated Rendering of Web-based 3D Scatter Plots with Projected Density Fields and Embedded Controls
            <//> *best paper award*
            <//> [acm](https://dl.acm.org/doi/10.1145/3564533.3564566)
    +row('Web3D 2020', 'web3d2020')
        :format
            A Framework for Interactive Exploration of Clusters in Massive Data using 3D Scatter Plots and WebGL
            <//> [acm](https://dl.acm.org/doi/10.1145/3424616.3424730)
            <//> [rg](https://www.researchgate.net/publication/345770726)
    +row('CHI 2018')
        :format
            VirtualSpace - Overloading Physical Space with Multiple Virtual Reality Users
            <//> [acm](https://dl.acm.org/doi/10.1145/3173574.3173815)
