include partials/row.pug
include partials/heading.pug

+heading('Publications')
table
    +row('Web3D 2020')
        | A Framework for Interactive Exploration of Clusters in Massive Data using 3D Scatter Plots and WebGL // 
        a(href='https://dl.acm.org/doi/10.1145/3424616.3424730') acm
        |  // 
        a(href='https://www.researchgate.net/publication/345770726_A_Framework_for_Interactive_Exploration_of_Clusters_in_Massive_Data_Using_3D_Scatter_Plots_and_WebGL') rg
        |  // 
        a(href='https://varg.dev/web3d2020') demo
    +row('CHI 2018')
        | VirtualSpace - Overloading Physical Space with Multiple Virtual Reality Users // 
        a(href='https://dl.acm.org/doi/10.1145/3173574.3173815') acm
